<!DOCTYPE html>
<html>
<head>

{{> head }}
 

<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>

</head>
<body>
 {{> nav }}

 
 
 
 <!-- Dropdowns to find courses -->
 

<div class="container">
  <div class = "dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Quarter
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Fall</a></li>
      <li><a href="#">Winter</a></li>
      <li><a href="#">Spring</a></li>
      <li><a href="#">Summer</a></li>
    </ul>
  </div>
</div>

<div class = "container">                                 
  <div class="dropdown">
  <div style = "position:relative; left: 120px; top: -34px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Year
    <span class="caret"></span></button>
     <ul class="dropdown-menu">
      <li><a href="#">2019</a></li>
      <li><a href="#">2018</a></li>
      <li><a href="#">2017</a></li>
      <li><a href="#">2016</a></li>
    </ul>
  </div>
</div>
 
<div class = "container">                                    
  <div class="dropdown">
     <div style = "position:relative; left: 210px; top: -68px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Computer Science</a></li>
      <li><a href="#">Physics</a></li>
      <li><a href="#">Electrical and Computer Engineering</a></li>
    </ul>
  </div>
</div>
   

 <h2>Search Courses</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="#">CS8</a></li>
  <li><a href="#">CS16</a></li>
  <li><a href="#">CS24</a></li>
  <li><a href="#">CS32</a></li>
  <li><a href="#">CS40</a></li>
  <li><a href="#">CS48</a></li>
  <li><a href="#">CS56</a></li>
  <li><a href="#">CS64</a></li>
  <li><a href="#">Physics 1</a></li>
  <li><a href="#">Physics 2</a></li>
  <li><a href="#">Physics 3</a></li>
  <li><a href="#">Physics 4</a></li>
  <li><a href="#">PSTAT 120A</a></li>
  <li><a href="#">PSTAT 120B</a></li>
  <li><a href="#">ECE 10a</a></li>
  <li><a href="#">ECE 10b</a></li>
  <li><a href="#">ECE 10c</a></li>
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
