<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Make A Schedule</h1>

<!-- Search for courses -->
<p> Search for a class: </p>
<div class="md-form">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<!-- Dropdowns to find courses -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quarter <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Summer18</a></li>
    <li><a href="#">Fall18</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Department <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Computer Science</a></li>
    <li><a href="#">Math</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Course1</a></li>
    <li><a href="#">Course2</a></li>
  </ul>
</li>


<button type="button" class="btn btn-default">Generate Schedule</button>


 {{> bootstrap-from-cdn-body }}
</body>
</html>
